<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Login")
</head>
<body>
    @model  MyBI_MVC.Models.UsuarioVM
    <div class="navbar navbar-inverse"> @*navbar-fixed-top*@
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                </ul>
                <ul class="nav navbar-nav navbar-right navbar-collapse">
                    <li><a href="#" class="btn btn-sm" id="myBtn">Login</a></li>

                </ul>
            </div>


        </div>
    </div>
    <div class="container body-content">
        
        
        @RenderBody()

       
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content retiraBorder">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div class="row">
                        <div id="centerForm">


                            <span class="erroLogin"></span>


                            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new
                            { @class = "form-signin", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Digite seu Email", @id = "txtEmail" })

                                    </div>
                                </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-lock"></span>
                                            </span>
                                            @Html.TextBoxFor(m => m.Senha, new { @class = "form-control", @placeholder = "Digite sua senha", @id = "txtSenha" })
                                            @*@Html.ValidationMessageFor(m => m.Senha)*@
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="" checked>Remember me</label>
                                    </div>
                                    <div class="checkbox">

                                        <button type="submit" class="btn btn-success" id="btnSubmit"><span class="glyphicon glyphicon-off"></span> Entrar</button>
                                        @*<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>*@
                                    </div>



                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <p>Não é um membro? <a href="#">Cadastre-se</a></p>
                    <p>Esqueceu <a href="#"> a senha?</a></p>
                </div>
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Login/LoginJs")
    @RenderSection("scripts", required: false)

</body>


</html>
