<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Menu/LayoutAClient.css")
</head>
<body>

    <div class="container">
        <div class="row" style="background-color:brown;">

            <h1 >Olá</h1>

        </div>
        <div class="row no-gutters">
            <div class="col-md-3 ">
                <div>
                    <ul class="nav nav-pills nav-fill flex-column">
                        <li class="">
                            <a class="" href="#">Active</a>
                        </li>
                        <li class="">
                            <a class="" href="#">Longer nav link</a>
                        </li>
                        <li class="">
                            <a class="" href="#">Link</a>
                        </li>
                        <li class="">
                            <a class="" href="#">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 ml-auto" style="background-color:yellow;">

                @RenderBody()
                <h1 style="text-align:center;">Olá corpo</h1>

            </div>
        </div>
 


    </div>    



    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
