@{
    ViewBag.Title = "About";
}
@*<div class="row">*@
    @model  MyBISolutions.Models.UsuarioModel
    <div class="col-md-8">

        <figure class="figure">
            <img src="~/Images/layoutCadastrese.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
        </figure>

    </div>
    <div class="col-md-4">
        <h3>Bem Vindo ao MYBI</h3>
        <h5>Administramos seus rendimentos.</h5>

        @using (Html.BeginForm("About", "Home", FormMethod.Post, new { @class = "fAbout border" }))
        {
            @Html.AntiForgeryToken()
            //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;

                
                    var erroLogin = "";
                    if (ViewBag.erroLogin != null)
                    {
                        erroLogin = ViewBag.erroLogin;
                    }
           
            <label class="text-danger">@erroLogin</label>
            <div class="form-group">
                @Html.LabelFor(m => m.Nome)
                @Html.TextBoxFor(m => m.Nome, new { @class = " form-control form-control-sm", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = " form-control form-control-sm", type = "email", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Senha)
                @Html.TextBoxFor(m => m.Senha, new { @class = " form-control form-control-sm", type = "password", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SenhaRepetida)
                @Html.TextBoxFor(m => m.SenhaRepetida, new { @class = " form-control form-control-sm", type = "password", required = "required" })
            </div>

            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Entrar</button>
            </div>
        }
        
    </div>
@*</div>*@