<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyBI</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Acss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
 
   
   
    @{
        bool menuCliente = false;
        ViewBag.Login = false;
    }
    <div class="container-fluid">
        <div class="row" id="fix">
            <div class="col-12 col-md-12 col-lg-12">
                <nav class="navbar navbar-dark rgb">

                    <nav class="navbar navbar-expand-lg navbar-light rgb">
                        @*<a class="navbar-brand" href="#">Navbar</a>*@
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    @Html.ActionLink("Inicio", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Sobre Nós", "About", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Contato", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @*<a class="nav-link" href="#" style="display:none;" id="btnHide">Login</a>*@
                                    @Html.ActionLink("Login", "Index", "Client", routeValues: null, htmlAttributes: new { id = "btnHide", @class = "nav-link" })
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="" id="disableMobi">
                        <button class="btn btn-outline-warning" data-toggle="modal" data-target=".bd-example-modal-lg">Login</button>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row">
            @{
                if (menuCliente)
                {
                    <div class="col-12 col-md-2 col-lg-2  ">
                        @* inserir o menu do cliente aqui *@
                    </div>
                }
            }
                    <div class="col-12 col-md-12 col-lg-12 mt-5 pt-4">
                        @RenderBody()




                        @* Modal *@
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    Tome amor
                                </div>
                            </div>
                        </div>

                    </div>
        </div>


    </div>




    <hr />
    <footer>
        <p>&copy; @DateTime.Now - MyBI Soluções</p>
        <span class="media-object flag-icon flag-icon-br"></span>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
</body>
</html>
